{% extends 'blog/base.html' %}

{% block title %}Buscar Post{% endblock %}

{% block content %}
<h2>Buscar Post</h2>
<form method="get">
    <input type="text" name="q" placeholder="Buscar por título" value="{{ query }}">
    <button type="submit">Buscar</button>
</form>

{% if resultados %}
    <h3>Resultados:</h3>
    <ul>
        {% for post in resultados %}
            <li>{{ post.titulo }} - {{ post.autor.nombre }}</li>
        {% endfor %}
    </ul>
{% elif query %}
    <p>No se encontraron resultados.</p>
{% endif %}
{% endblock %}
