<!DOCTYPE html>
<html>
<head>
    <title>Lista de Posts</title>
</head>
<body>
    <h1>Lista de Posts</h1>
    <a href="{% url 'crear_post' %}">Crear Nuevo Post</a>
    <ul>
        {% for post in posts %}
            <li>
                <h2>{{ post.titulo }}</h2>
                <p>{{ post.contenido }}</p>
                <p><strong>Autor:</strong> {{ post.autor }}</p>
                <p><em>Creado el:</em> {{ post.fecha_creacion }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
